*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(185, 235, 221);
}
.sec-1{
    height: 50vh;
    display: flex;
    width:70vw ;
    margin: 15px;
    flex-direction: column;
}
.Heading{
    display: flex;
    height: 50vh;
    width: 75vw;
}
.buttons{
    display: flex;
    height: 50vh;
    width: 75vw;
    justify-content: center;
    text-decoration:none;
    color: rgb(131, 138, 138);  
}
.nav-bar{
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: column;
}

.nav-item{
    margin:0 0 0  10px; 
    
}

.box{
    height: 245px;
    width: 150px;
    border-radius: 10px ;
    border: 1px solid white;
    background-color: #fff;
    display: flex;
    gap: 5px;
    padding: 10px 10px;
}
.image{
    height: 40px;
    width:40px ;
    border-radius: 50%;
    padding: 2px 2px;
}
.box2{
    height: 100px;
    width: 200px;
    border-radius: 10px ;
    border: 1px solid white;
    background-color: #fff;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
}
.box3{
    height: 245px;
    width: 400px;
    border-radius: 10px ;
    border: 1px solid white;
    background-color: #4b9bf0;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    color: #fff;
}
.b3{
    display: flex;
    flex-direction: row;
}
.b4{

}
.tag{
    display: flex;
    gap: 50px;
}
.tag2{
    display: flex;
    flex-direction: row;
}
.dbba{
    display: flex;
    border-radius: 10px;
    border: 2px solid rgb(233, 231, 231);
    height: 40vh;
    width:70vw;
    padding:10px 10px 10px 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.dbba2{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
