
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(185, 235, 221);
   
    padding: 10px;
}
.sec-1{
    height: 50vh;
    display: flex;
    width:100%;
    margin: 15px;
    flex-direction: column;
}
#options{
    border: none;
}
.Heading{
    display: flex;
    height: 50vh;
    /* width: 75vw; */
}
.button{
    display: flex;
    height: 50vh;
    /* width: 75vw; */
    justify-content: center;
    text-decoration:none;
    color: rgb(131, 138, 138);  
}
.nav-bar{
    display: flex;
    height: 70px;
    width: 90%;
    /* flex-direction: column; */
    justify-content: space-between;
}

.nav-item{
    margin:0 0 0  10px;  
}
.icon{
    width:40px ;
    margin-right: 0;
}
.main-title{
    display: flex;
    justify-content: space-between;
}
.box{
    height: 245px;
    width: 30vw;
    border-radius: 10px ;
    border: 1px solid white;
    background-color: #fff;
    gap: 5px;
    padding: 10px 10px;
    margin-left: 10px;
}
.image{
    margin-left: 15px;
    display: inline-block;
    height: 40px;
    width:40px ;
    border-radius: 50%;
    padding: 2px 2px;
}
.box2{
    height: 100px;
    width: 20vw;
    border-radius: 10px ;
    border: 1px solid white;
    background-color: #fff;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    justify-content: space-between;
    flex-direction:column;
    
}
.box3{
    height: 245px;
    width: 40vw;
    border-radius: 10px ;
    border: 1px solid white;
    background-color: #4b9bf0;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    color: #fff;
    flex-direction: column;
}
.ima{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.box-on{
 display: flex;
 justify-content: space-between;
 width: 30%;
}
.box-off{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    flex-direction: row;
   }
.b3{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    padding-left: 10px;
}
.b4{
    display: flex;
    padding-left: 10px;
}
.tag{
    display: flex;
}
.tag2{
    gap: 100px;
    display: flex;
    flex-direction: row;
}
.tittle{
    margin-left: 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.head2{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
} 
.btn{
    margin-top: 20px;
    margin-left: 20px;
}
button{
    background-color: #4b9bf0;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.dbba{
    display: flex;
    
    height: 250px;
    
    padding:10px 10px 10px 10px;
    gap: 20px;
    justify-content:space-around;
    align-items: center;
}
.dbba2{
    display: flex;
    width: 30%;
    gap: 20px;
   flex-direction: column;
}
.dbba3{
    display: flex;
    gap: 20px;
    width: 30%;
    flex-direction: column;
}
.headd{
    display: flex;
    width: 100%;
    margin-left: 0;
    gap: 96px;
}
.headdd{
    display: flex;
    width: 100%;
    margin-left: 10px;
    gap:96px;
}
.butn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left:10px ; 
}
.btn1{
    border-radius: 5px;
    background-color: white;
    border: 1px solid #fff;
    width: 40%;  
}
.btn2{
    border-radius: 5px;
    background-color: rgb(245, 238, 238);
    border: 1px solid #fff;
    width: 30%;  
}
.btn1:hover{
    width: 30%;
    background-color: #fff;
}
.btn2:hover{
    width: 30%;
    color: #fff;
}
.sec-2{
    height: 30vh;
    display: flex;
    width:100vw ;
    margin: 15px;
    padding: 15px 15px;
}
.div1{
    height: 18vh;
    width: 62%;
    display: flex;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 10px;
    gap: 35px;
    justify-content: center;
}
.div2{
    margin-left: 2%;
    height: 25vh;
    width: 25%;
    display: flex;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 10px;
    flex-direction: column;
}
.tt2{
    padding: 10px 10px;
    display: flex;
    gap: 200px;
}
.tt3{
    margin-top: 20px;
    display: flex;
    gap: 145px;
    padding-left: 10px;
}
.tt4{
    margin-top: 20px;
    color: #4b9bf0;
    padding-left: 10px;
}
.nav1{
    display: flex;
    padding-left: 20px;
}
.nav2{
    display: flex;
}
.bar-nav{
    display: flex;
    gap: 67%;
}
.sec-3{
    height: 50vh;
    display: flex;
    width:100vw ;
    margin: 15px;
    padding: 15px 15px; 
   
}
.part1{
    height: 40vh;
    width: 64%;
    display: flex;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    gap: 100px;
}
.part-1{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.part-2{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#option{
    background-color: rgb(155, 161, 165);
}
.part2{
    margin-left: 10px;
    height: 40vh;
    width: 67%;
    /*display: flex;*/
    background-color: #fff;
    gap: 100px;
}
.part-3-4{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.part-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.part-4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.btn-1{
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
   
}
.btn-2{
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
}
.btns button{
 background-color: rgb(83, 162, 232);
}
.btns button:hover{
    background-color: #fff;
}
.imag{
    width: 20%;
    height: 30%;
}
.custom1{
    color: black;
    text-decoration: none;
}
.custom{
    margin-top: 20px;
}
.grph-img{
    height: 360px;
    width: 400px;
    margin-left: 30px;
    border-radius: 10px;
}
.nav2-2{
    margin-left: 40px;
}
.nav2{
    margin-bottom: 0;
}
.yo{
    margin-top: 20px;
    font-size: larger;
}
.yoyo input{
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(194, 190, 190);
    border: none;
}
 .hed2{
    background-color: gray;
 }